# exclude all dot files except .gitignore
.*
!.gitignore

# exclude binaries and temporary files
bin/
bin_plugs/
intermediate/
intermediate_plugs/
_build/
/src/*.tss
*.lastbuildstate
*.log
*.tlog
*.obj
*.pdb
*.sdf
xray-16-libraries/

src\Launcher\main.cpp.PVS-Studio.cfg
src\Launcher\main.cpp.cl.cfg
src\Launcher\main.cpp.cl.cmd
src\Launcher\main.i-68c5982a
