# exclude all dot files except .gitignore
.*
!.gitignore

# exclude binaries and temporary files
bin/
bin_plugs/
intermediate/
intermediate_plugs/
_build/
/src/*.tss
*.lastbuildstate
*.log
*.tlog
*.obj
*.pdb
*.sdf